$navbar-height: 4rem;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: white;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
}

a {
    text-decoration: none;
}

.fakeLink {
    text-decoration: none;
    cursor: pointer;
}