@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

#footer {
    clear: both;
    position: relative;
    height: 80px;
    background-color: #f3f3f3;
    text-align: center;
    padding-top: 3%;
}

.footer_information {
    color: black;
    font-family: 'Barlow', sans-serif;
    padding-top: 10px;
}

.socail_media_img {
    padding-left: 15px
}


